# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Logs
*.log

# Temporary files
tmp/
temp/

# Data files (optional if large)
data/*.csv

# Docker
*.tar